@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(54, 54, 54);
    overflow-x: hidden;
    font-family: Merriweather;
    color: rgb(236, 236, 236);
}

header{
    position: relative;
    width: 100vw;
    height: 40vh;
    border-top: 1px solid rgb(126, 126, 126);
    border-bottom: 1px solid rgb(126, 126, 126);
}

header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/2.jpg');
    background-size: 100vw 120vh;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 100, 100);
    z-index: -2;
}

header>h1{
    padding: 1% 0 0 70%;
    font-size: 48px;
}

nav{
    position: relative;
    left: 0;
    background-color: rgb(155, 155, 155);
    width: 15vw;
    height: 200vh;
    font-size: 24px;
    float: left;
}

nav>ul{
    list-style: none;
}

nav>ul>li>a{
    display: block;
    text-decoration: none;
    line-height: 100px;
    color: white;
    margin-right: 50px;
    text-align: center;
}

p{
    font-size: 30px;
    margin: 20px 15px 0 15px;
}

.upload-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    aspect-ratio: 1/1;
    background-color: rgb(203, 203, 203);
    border: 7px solid rgb(181, 181, 181);
    text-align: center;
    margin-top: 10vh;
    margin-left: 40vw;
    padding: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: border 0.3s ease-in-out;
}

.upload-container.dragover{
    border: 8px solid rgb(120, 120, 120);
}

.drag-drop{
    width: 28vw;
    aspect-ratio: 1/1;
    background-color: rgb(191, 191, 191);
    border: 8px dashed rgb(167, 167, 167);
    align-items: center;
    padding: 5px;
    font-size: 30px;
    font-family: Montserrat Alternates;
    font-weight: 700;
    color: rgb(149, 149, 149);
}

.add-icon{
    background-color: rgba(161, 161, 161, 0.7);
    margin-left: 9vw;
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
    align-items: center;
}

.add-icon>h1{
    position: relative;
    top: 25px;
    font-size: 84px;
}

input[type="submit"]{
    background-color: rgb(48, 153, 205);
    color: white;
    margin: 50px 100px 0 0;
    width: 15%;
    height: 10vh;
    border: 1px solid white;
    border-style: hidden;
    border-radius: 5px;
    font-size: 30px;
    font-family: Montserrat Alternates;
    font-weight: bold;
    cursor: pointer;
}

.cancel-btn{
    background-color: rgb(225, 38, 38);
    color: white;
    margin: 50px 0 0 0;
    width: 15%;
    height: 10vh;
    border: 1px solid white;
    border-style: hidden;
    border-radius: 5px;
    font-size: 30px;
    font-family: Montserrat Alternates;
    font-weight: bold;
    cursor: pointer;
}

/*Light Mode-----------------------------------*/
.light-mode{
    background-color: rgb(236, 236, 236);
    color: black;
}

.light-mode nav{
    background-color: rgb(176, 176, 176);
}

.light-mode nav>ul>li>a{
    color: black;
}

.light-mode header>h1>a{
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    text-decoration: none;
}

/*Dark Mode-----------------------------------*/
.dark-mode{
    background-color: rgb(29, 29, 29);
    color: white;
}

.dark-mode nav{
    background-color: rgb(55, 55, 55);
}

.dark-mode nav>ul>li>a{
    color: rgb(255, 255, 255);
}

.dark-mode header>h1>a{
    color: black;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-decoration: none;
}

/*Light/Dark Mode Button Toggling*/
.toggle-container {
    display: flex;
    margin-top: 50px;
    align-items: center;
    gap: 10px;
}

.mode-btn{
    position: relative;
    width: 61px;
    height: 31px;
    padding: 0;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mode-btn .mode-slider {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px; 
    height: 24px;
    background-color: white;
    border-radius: 50%; 
    transition: transform 0.3s ease;
}

.dark-mode .mode-btn .mode-slider {
    transform: translateX(30px);
}

.dark-mode .mode-label {
    content: "Dark";
}

.dark-mode .mode-btn {
    background-color: #304371;
    border: 1px solid rgb(255, 255, 255, 0.7);
} 

.light-mode .mode-btn .mode-slider {
    transform: translateX(0);
}

.light-mode .mode-label {
    content: "Light";
}

.light-mode .mode-btn {
    background-color: #ffca59;
    border: 1px solid rgb(35, 35, 35, 0.4);
}