@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(54, 54, 54);
    overflow-x: hidden;
    font-family: Merriweather;
    color: rgb(236, 236, 236);
}

header{
    position: relative;
    width: 100vw;
    height: 40vh;
    border-top: 1px solid rgb(126, 126, 126);
    border-bottom: 1px solid rgb(126, 126, 126);
}

header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/2.jpg');
    background-size: 100vw 120vh;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 100, 100);
    z-index: -2;
}

header>h1{
    padding: 1% 0 0 70%;
    font-size: 48px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}

header>button{
    background-color: rgb(48, 153, 205);
    color: white;
    margin: 30px 0 0 70vw;
    width: 15%;
    height: 8vh;
    border: 1px solid white;
    border-style: hidden;
    border-radius: 5px;
    font-size: 28px;
    font-family: Montserrat Alternates;
    font-weight: 500;
    cursor: pointer;
}

nav{
    position: relative;
    left: 0;
    background-color: rgb(155, 155, 155);
    width: 15vw;
    height: 200vh;
    font-size: 24px;
    float: left;
}

nav>ul{
    list-style: none;
}

nav>ul>li>a{
    display: block;
    text-decoration: none;
    line-height: 100px;
    color: white;
    margin-right: 50px;
    text-align: center;
}

.image_display{
    background-color: rgb(143, 143, 143);
    width: 85vw;
    height: 90vh;
    margin-top: 15vh;
    margin-left: 15vw;
    align-items: center;
}

.slider{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider>button{
    background-color: rgb(0, 0, 0, 0.4);
    color: white;
    width: 10vw;
    height: 90vh;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 64px;
    z-index: 10;
}

.slider>button:hover{
    background-color: rgb(54, 54, 54, 0.7);
}

.slider-button.left{
    left: 50px;
}

.slider-button.right{
    right: 50px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.container>img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    border: 2px solid white;
    position: relative;
}

.current_img{
    width: 300px;
    height: 300px;
    opacity: 1;
    z-index: 3;
    transform: translateX(0) scale(1);
    cursor: pointer;
}

.prev_img{
    width: 250px;
    height: 250px;
    left: 500px;
    transform: translateX(-100%) scale(0.9);
    z-index: 1;
    opacity: 0.7;
}

.next_img{
    width: 250px;
    height: 250px;
    right: 500px;
    transform: translateX(100%) scale(0.9);
    z-index: 1;
    opacity: 0.7;
}

.instructions{
    font-size: 28px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.modal-content{
    max-height: 90vh;
    max-width: 90vw;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
}

.display-info{
    background-color: rgb(48, 153, 205);
    color: white;
    width: 10%;
    height: 7%;
    border: 1px solid white;
    border-style: hidden;
    border-radius: 5px;
    font-size: 20px;
    font-family: Merriweather;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    align-items: center;
}

.image-info{
    display: none;
    padding: 0 7px;
    color: white;
    font-size: 24px;
    max-width: 80%;
    text-align: center;
}