@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Main body----------------------------*/
body{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(54, 54, 54);
    overflow: auto;
    font-family: Merriweather;
    color: rgb(236, 236, 236);
}

body::-webkit-scrollbar{
    display: none;
}

header{
    position: relative;
    width: 100vw;
    height: 40vh;
    border-top: 1px solid rgb(126, 126, 126);
    border-bottom: 1px solid rgb(126, 126, 126);
}

header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/2.jpg');
    background-size: 100vw 120vh;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 100, 100);
    z-index: -2;
}

header>h1{
    padding: 1% 0 0 70%;
    font-size: 48px;
}

.header-btn>button{
    background-color: rgb(48, 153, 205);
    margin-left: 70vw;
    color: white;
    width: 10%;
    height: 8vh;
    border: 1px solid white;
    border-style: hidden;
    border-radius: 5px;
    font-size: 24px;
    font-family: Montserrat Alternates;
    font-weight: 500;
    cursor: pointer;
}

/*Navigation bar ---------------------------*/
nav{
    position: relative;
    left: 0;
    background-color: rgb(155, 155, 155);
    width: 15vw;
    height: 200vh;
    font-size: 24px;
    float: left;
}

nav>ul{
    list-style: none;
}

nav>ul>li>a{
    display: block;
    text-decoration: none;
    line-height: 100px;
    margin-right: 50px;
    text-align: center;
}

/*Image Gallery----------------------*/
.image_display{
    background-color: rgb(143, 143, 143);
    width: 85vw;
    height: 90vh;
    margin-top: 15vh;
    margin-left: 15vw;
    align-items: center;
}

.slider{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider>button{
    width: 10vw;
    height: 90vh;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 64px;
}

.slider-button.left{
    left: 50px;
}

.slider-button.right{
    right: 50px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.container>img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    border: 2px solid white;
    position: relative;
}

.current_img{
    width: 300px;
    height: 300px;
    opacity: 1;
    z-index: 3;
    transform: translateX(0) scale(1);
    cursor: pointer;
}

.prev_img{
    width: 250px;
    height: 250px;
    left: 500px;
    transform: translateX(-100%) scale(0.9);
    z-index: 5;
    opacity: 0.7;
}

.next_img{
    width: 250px;
    height: 250px;
    right: 500px;
    transform: translateX(100%) scale(0.9);
    z-index: 5;
    opacity: 0.7;
}

/*Instructions-------------------------*/
.instructions{
    width: 75%;
    font-size: 25px;
    text-align: center;
    margin-left: 20%;
}

/*Modal----------------------------------*/
.modal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.modal::-webkit-scrollbar{
    display: none;
}

body.no-scroll{
    overflow: hidden;
}

.modal-content{
    max-height: 90%;
    max-width: 90%;
    width: auto;
    height: 85%;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.modal-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
}

/*Microservice features---------------------*/
.display-info, .add-rating, .download{
    background-color: rgb(48, 153, 205);
    color: white;
    border: 1px solid white;
    border-style: hidden;
    border-radius: 5px;
    font-size: 20px;
    font-family: Merriweather;
    cursor: pointer;
    margin-top: 15px;
    padding: 10px;
    align-items: center;
}

.image-info{
    display: none;
    color: white;
    font-size: 20px;
    max-width: 80%;
    text-align: center;
    transform: translateY(25%);
    position: absolute;
    top: 100%;
    padding: 20px;
    margin: -75px 0 0 0;
}

#rating-form{
    display: none;
    margin: -25px 0 0 0;
    position: absolute;
    top: 100%;
    padding: 20px;
    transform: translateY(25%);
}

#submit-rating{
    background-color: rgb(48, 205, 106);
    color: white;
    border: 1px solid white;
    border-style: hidden;
    border-radius: 5px;
    font-size: 20px;
    font-family: Merriweather;
    cursor: pointer;
    margin: 0 0 0 15px;
    padding: 10px;
    align-items: center;
}

.delete-btn{
    background-color: rgb(225, 38, 38);
    color: white;
    border: 1px solid white;
    border-style: hidden;
    border-radius: 5px;
    font-size: 20px;
    font-family: Merriweather;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    align-items: center;
}

/*Light Mode-----------------------------------*/
.light-mode{
    background-color: rgb(236, 236, 236);
    color: black;
}

.light-mode nav{
    background-color: rgb(176, 176, 176);
}

.light-mode nav>ul>li>a{
    color: black;
}

.light-mode .image_display{
    background-color: rgb(176, 176, 176);
}

.light-mode .slider>button{
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(234, 234, 234);
}

.light-mode .slider>button:hover{
    background-color: rgba(54, 54, 54, 0.7);
}

.light-mode header>h1>a{
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    text-decoration: none;
}

.light-mode .rating-form{
    color: white;
}

/*Dark Mode-----------------------------------*/
.dark-mode{
    background-color: rgb(29, 29, 29);
    color: white;
}

.dark-mode nav{
    background-color: rgb(55, 55, 55);
}

.dark-mode nav>ul>li>a{
    color: rgb(255, 255, 255);
}

.dark-mode .image_display{
    background-color: rgb(55, 55, 55);
}

.dark-mode .slider>button{
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.dark-mode .slider>button:hover{
    background-color: rgb(158, 158, 158, 0.7);
}

.dark-mode header>h1>a{
    color: black;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-decoration: none;
}

/*Light/Dark Mode Button Toggling*/
.toggle-container {
    display: flex;
    margin-top: 50px;
    align-items: center;
    gap: 10px;
}

.mode-btn{
    position: relative;
    width: 61px;
    height: 31px;
    padding: 0;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mode-btn .mode-slider {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px; 
    height: 24px;
    background-color: white;
    border-radius: 50%; 
    transition: transform 0.3s ease;
}

.dark-mode .mode-btn .mode-slider {
    transform: translateX(30px);
}

.dark-mode .mode-label {
    content: "Dark";
}

.dark-mode .mode-btn {
    background-color: #304371;
    border: 1px solid rgb(255, 255, 255, 0.7);
} 

.light-mode .mode-btn .mode-slider {
    transform: translateX(0);
}

.light-mode .mode-label {
    content: "Light";
}

.light-mode .mode-btn {
    background-color: #ffca59;
    border: 1px solid rgb(35, 35, 35, 0.4);
}