<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery | Lenscape</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='gallery/gallery.css') }}">
</head>
<body>
    <header id="header">
        <h1><a href="/" style="cursor: pointer;">Lenscape</a></h1>

        <div class="header-btn">
            <button type="button" onclick="window.location.href='/upload'" class="cancel-btn">Upload</button>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="/gallery">Home</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="/admin">Admin</a></li>
            <div class="toggle-container">
                <button id="mode-toggle" class="mode-btn">
                    <span class="mode-slider"></span>
                </button>
                <span class="mode-label">Light</span>
            </div>    
          </ul>
    </nav>

    <div class="image_display">
        <div class="slider">
            <button class="left">❮</button>
            <div class="container">
                <img id="prev_img" src="{{ url_for('static', filename='images/' + prev_img) }}" class="prev_img" alt="Previous Image">
                <img id="current_img" src="{{ url_for('static', filename='images/' + current_img) }}" class="current_img" alt="Current Image">
                <img id="next_img" src="{{ url_for('static', filename='images/' + next_img) }}" class="next_img" alt="Next Image">
            </div>
            <button class="right">❯</button>
        </div>
    </div>

    <div class="instructions">
        <p>
            Click on the arrows on the sides of the image slider 
            to view the previous or next image. <br><br>

            To view an image at full size, simply click on the current
            image being displayed and it will display the full-sized 
            image along with unique buttons.<br><br>

            The image attributes will be displayed 
            when you click on the Image Info button located
            at the bottom of the full-size image. <br><br>

            Clicking on the Rate button will display a rating
            form prompting for a rating from 1 to 5. Click on
            the button again to hide the form. <br><br>
            
            To close out of full-size view, click the X
            at the top-right in the modal, or click anywhere on your
            screen aside from the image.
        </p>
    </div>

    <!--Full-Sized Image Modal-->
    <div id="modal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="full-size-image">
        <div class="modal-buttons">
            <button class="display-info">Image Info</button>
            <button class="add-rating">Rate It</button>
            <button class="download">
                <img src="../static/test/pngtree-file-download-icon-image_1344466.jpg">
            </button>
            <button class="categorize">
                <img src="../static/test/category-9.png">
            </button>
            <button class="tag-image">+</button>
        </div>
        <div id="image-info" class="image-info"></div>
        <div id="rating-form" class="rating-form">
            <label for="rating-input">Rating (1-5): </label>
            <input type="number" id="rating-input" min="1" max="5" step="0.1">
            <button id="submit-rating" class="submit-rating">Submit</button>
        </div>
        <div id="category-dropdown" class="category-dropdown">
            <select id="selection">
                <option value="">Select a category</option>
            </select>
            <button id="confirm-selection">Confirm</button>
        </div>
    </div>

    <!--Script for image display-->
    <script>
        const images = [
            {% for image in images %}
                "{{ url_for('static', filename='images/' + image)}}",
            {% endfor %}
        ];

        const imgDates = {{ image_dates|tojson }};
    </script>

    <!--Script for js-->
    <script src="{{ url_for('static', filename='gallery/gallery.js') }}"></script>
</body>
</html>