<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lenscape Online Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home/style.css') }}"> 
</head>
<body>  
    <!--Home page-->
    <header id="header">
        <h1>Lenscape Photo Gallery</h1>
    </header>
    
    <!--Container-->
    <div id="main_body" class="main_body">
        <p>
            Welcome to Lenscape Photo Gallery. Explore a collection 
            of images and admire them in full detail. Upload your 
            favorite images to get started.
        </p>

        <div id="get-started" class="get-started">
            <p>
                Click on Get Started to begin
            </p>
            <button id="redirect" onclick="redirect()">Get Started</button>
        </div> 
    </div>

    <!--About Section-->
    <div id="about" class="about">
        <h2>What is Lenscape?</h2>
        <p>
            Lenscape is an online photo gallery app that let's you
            explore various unique images in a gallery format. You
            can browse for your favorite images or upload your own.
        </p>
    </div>

    <!--Button for scrolling up and down-->
    <button id="scroll">
        <img id="scroll-icon" src="../static/test/down-arrow.png" alt="Scroll Down">
    </button>

    <footer id="footer">
        <p>&copy; 2025 Shengwei Zhu | Oregon State University</p>
    </footer>
    <script src="{{ url_for('static', filename='home/script.js') }}"></script>
</body>
</html>